:root {
	--color-primary: #334155;
	--color-secondary: #7e22ce;
	/* ... */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input-gr-lb {
		@apply text-gray-300 text-2xs font-semibold uppercase mb-1;
	}

	.input {
		@apply w-full p-1.5 rounded text-white px-2 bg-primary-900 focus:outline-none focus:ring focus:border-indigo-600;
	}

	.active {
		@apply border-l-4 border-indigo-600 bg-indigo-300 bg-opacity-60 pl-2
		lg:bg-none lg:border-l-0 lg:pl-0 lg:border-b-4 lg:bg-opacity-0 lg:border-indigo-500;
	}
}
